{% extends 'shared/_layout.html' %}
{% load thumbnail %}
{% load render_partial %}

{% block title %}لیست محصولات{% endblock %}

{% block content %}
    <section>
		<div class="container">
			<div class="row">

				<div class="col-sm-9 padding-right">
					{% if products %}
	                    <div class="features_items"><!--features_items-->
						<h2 class="title text-center">محصولات</h2>
						{% for product in products %}
						{% comment %}{% for product in object_list %}{% endcomment %}
                            {% include 'product_module/includes/product_item_partial.html' with product=product %}
						{% endfor %}
                        <div class="clearfix"></div>
						<ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li><a class="cursor-pointer" onclick="fillpage(page_obj.previous_page_number)"{% comment %}href="?page={{ page_obj.previous_page_number }}"{% endcomment %}>قبلی</a></li>
                            {% endif %}

                             {% for pageNumber in paginator.page_range %}
                                <li class="{% if page_obj.number == pageNumber %} active {% endif %}">
                                    <a class="cursor-pointer" onclick="fillpage({{ pageNumber }})" {% comment %}href="?page={{ pageNumber }}"{% endcomment %}>{{ pageNumber }}</a>
                                </li>
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li><a class="cursor-pointer" onclick="fillpage(page_obj.next_page_number)" {% comment %}href="?page={{ page_obj.next_page_number }}"{% endcomment %}>بعدی</a></li>
                            {% endif %}

{% comment %}							<li class="active"><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">»</a></li>{% endcomment %}
						</ul>
					</div><!--features_items-->
                        {% else %}
                        <div class="alert alert-warning">
                            <p>هیج محصولی یافت نشد!</p>
                        </div>
					{% endif %}
				</div>

				<div class="col-sm-3">
					<div class="left-sidebar">
                        {% render_partial 'product_module.views.product_categories_component' %}
                        {% render_partial 'product_module.views.product_brands_component' %}

						<div class="price-range"><!--price-range-->
							<h2>فیلتـر قیمـت</h2>
							<div class="well">
								 <input
                                         type="text"
                                         class="span2"
                                         value="{{ start_price }},{{ end_price }}"
                                         data-slider-min="{{ db_min_price }}"
                                         data-slider-max="{{ db_max_price }}"
                                         data-slider-step="1000"
                                         data-slider-value="[{{ start_price }},{{ end_price }}]"
                                         id="sl2"
                                 ><br />
								 <b>{{ db_max_price }}</b> <b class="pull-left">{{ db_min_price }}</b>
							</div>
						</div><!--/price-range-->
                        <div>
                            <form action="" method="get", id="filter_form">
                                <input type="hidden", name="page", id="page", value="{{ page_obj.number }}">
                                <input type="hidden", name="start_price", id="start_price", value="{{ start_price }}">
                                <input type="hidden", name="end_price", id="end_price", value="{{ end_price }}">
                            </form>
                            <button class="btn btn-success btn-block", onclick="filterProducts()">فیلتر</button>
                        </div>

						<div class="shipping text-center"><!--shipping-->
							<img src="/static/images/home/shipping.jpg" alt="">
						</div><!--/shipping-->

					</div>
				</div>

			</div>
		</div>
	</section>
{#    <ul>#}
{#    {% for product in products %}#}
{#        <li><a href="{% url 'product-detail' product_id=product.id %}">{{ product.title }} / price : {{ product.price }}</a></li>#}
{#        <li><a href="{{ product.get_absolute_url }}">{{ product.title }} / price : {{ product.price }}</a></li>#}
{#    {% endfor %}#}
{#    </ul>#}
{#    <hr>#}
{#    <p>number of products: {{ total_number_of_products }}</p>#}
{% endblock %}